.news-flex-box {
  flex: 0 0 auto;
  margin-bottom: 2rem;
  display: flex;
  font-size: 0.8rem;
}

.news-box {
  flex: 1;
}

.update-box {
  flex: 1;
}

.miniroom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-title {
  font-family: "Ramche";
  border-bottom: 1px solid #9cda00;
  color: DOSSaemmul;
}

.news-row {
  display: flex;
  font-size: 0.85rem;
  margin: 3px 0;
}

.news-category {
  padding: 0 6px;
  margin-right: 6px;
  color: white;
  border-radius: 3px;
}

.category-pic {
  background-color: #ff9ac0;
}

.category-post {
  background-color: #9cda00;
}

.menu-row {
  display: flex;
  border-bottom: 1px dashed #9cda00;
  margin: 3px 0;
}

.menu-item {
  flex: 1;
}

.menu-num {
  font-family: "NeoDunggeunmo";
  padding-left: 6px;
  color: #ff9ac0;
}

.miniroom-gif-box {
  border: 1px solid #9cda00;
  width: 500px; 
  height: auto;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniroom-image {
  width: 200%;
  height: auto;
  max-width: 100%;
  border-radius: 9px;
}